<h3>This is a simple rails application that stores session data in redis</h3>

<form action="" method="get">
Word:
<input type="text" name="word" value="<%= session[:word] %>" />
<input type="submit" value="Save" />
</form>
